<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorator="layout">
<body>
    <div layout:fragment="content">
    <div th:include="menuFragment" ></div>
    	<br/><br/>
	   			<form action="CreateSchoolClass" method="POST">
					<table>
						<tr><td>rok rozpoczęcia:</td><td><input type="text" name="schoolClassStartYear" /></td></tr>
						<tr><td>obecny rok:</td><td><input type="text" name="schoolClassCurrentYear" /></td></tr>
						<tr><td>profil:</td><td><input type="text" name="schoolClassProfile" /></td></tr>
						<tr><td>szkoła:</td><td>
							<select name="schoolClassSchool" id="schoolClassSchool">
								<option value="">--- tutaj wybierz szkołę ---</option>
								<option th:each ="school : ${schoolList}"
										th:value="${school.id}"
										th:utext="${school.name}">
								</option>
							</select></td></tr>
					</table><br/><br/>
					<input type="submit" value="Utwórz"/>
				</form>
    </div>
</body>
</html>


